@import "tailwindcss";

@theme {
    --color-darker-blue: #216CE1;
    --color-dark-blue: #3883F8;
    --color-light-blue: #B9DCFF;
    --color-pale-blue: #E0F0FF;

    --color-light-green: #9BD779;
    --color-darker-green: #06402B;
    --color-green: #47DE36;
    --color-green-palam: #059669;

    --color-dark-red: #950606;
    --color-red: #FF2121;
    --color-light-red: #FF8480;

    --color-custom-white: #FFFFFF;
    --color-dark-white: #F7F7F9;
    --color-light-gray: #E0E0E0;
    --color-custom-gray: #99999A;
    --color-dark-gray: #787878;
    --color-custom-black: #303030;

    --color-translucent-white: #FFFFFF80;
    --color-transparent-white: #FFFFFF33;
    --color-transparent-black: #00000033;

    /* --bg-authen: url('/images/wave2.jpg'); */
    

    --boxshadow-lifted: 0px 0px 5px 0px rgba(0,0,0,0.20);
}

* {
  font-family: var(--font-manrope);
}

html, body {
  @apply text-custom-black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important; /* keep text color */
  transition: background-color 5000s ease-in-out 0s !important;
}