@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --border: #000
  --sans: Arial, Helvetica, sans-serif;
  --mono: monospace;

  --text: #000;
  --muted: #7b7b7b;
}

.dark {
  --background: #0a0a0a;
  --border: #fff;
  --text: #fff;
  --muted: #aaa;
} */


/* @theme inline {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-muted: var(--muted);

  --font-sans: var(--sans);
  --font-mono: var(--mono);

  --animate-fade-in: fade-in 0.3s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
} */

/* @layer components  {
  h1 {
    @apply text-cyan-400;
  }

  button {
    @apply transition duration-1000 ease-in-out hover:scale-200;
    color: red;
  }
} */

